*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transition: background 0.3s ease;
}

.calc{
    width: 100%;
    max-width: 380px;
    height: 100dvh;
    max-height: 750px;
    background: black;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
    transition: 0.3s ease;
}

.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#cat{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #ff9500;
}

.themeToggle{
    width: 65px;
    height: 35px;
    background: #1e1e1e;
    border-radius: 50px;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.toggleCircle{
    width: 27px;
    height: 27px;
    background: #ff9500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

#display{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 42px;
    text-align: right;
    margin-bottom: 20px;
}

.btnContainer{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button{
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:active{
    transform: scale(0.92);
}

.zero{
    grid-column: span 2;
    border-radius: 50px;
}

.num{
    background:#2c2c2c;
    color:white;
}

.op{
    background:#ff9500;
    color:white;
}

.function{
    background:#5f5f5f;
    color:white;
}

/* LIGHT MODE */
body.light{
    background: #f2f2f2;
}

body.light .calc{
    background: white;
}

body.light #display{
    color: black;
}

body.light .num{
    background: #e0e0e0;
    color: black;
}

body.light .function{
    background: #cfcfcf;
    color: black;
}

body.light .themeToggle{
    background: #ddd;
}

body.light .toggleCircle{
    transform: translateX(30px);
}
