*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    -webkit-tap-highlight-color:transparent;
}

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    transition:0.3s;
}

/* DARK MODE */
body.dark{
    background:#000;
    color:#fff;
}

/* LIGHT MODE */
body.light{
    background:#f2f2f2;
    color:#000;
}

.top-bar{
    height:60px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:15px;
}

.theme-toggle{
    width:50px;
    height:24px;
    background:#222;
    border-radius:20px;
    position:relative;
    cursor:pointer;
}

.circle{
    width:18px;
    height:18px;
    background:rgb(233,246,95);
    border-radius:50%;
    position:absolute;
    top:3px;
    left:3px;
    transition:0.3s;
}

body.light .theme-toggle{
    background:#ccc;
}

body.light .circle{
    transform: translateX(26px);
    background:#333;
}

.calculator{
    width:100%;
    max-width:420px;
    margin:auto;
}

.display-area{
    height:30vh;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:flex-end;
}

#expression{
    font-size:18px;
    opacity:0.7;
}

#result{
    font-size:48px;
    margin-top:10px;
    overflow-x:auto;
}

.keypad{
    padding:20px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

.btn{
    height:65px;
    border:none;
    border-radius:15px;
    font-size:24px;
    cursor:pointer;
    transition:0.15s;
}

.btn:active{
    transform:scale(0.95);
}

/* DARK BUTTONS */
body.dark .btn{
    background:#1e1e1e;
    color:#fff;
}

body.dark .operator{
    color:rgb(233,246,95);
}

body.dark .equal{
    background:#32d17d;
    color:#fff;
}

/* LIGHT BUTTONS */
body.light .btn{
    background:#fff;
    color:#000;
}

body.light .operator{
    color:#0aa84f;
}

body.light .equal{
    background:#0aa84f;
    color:#fff;
}

.zero{
    grid-column:span 2;
}
